## BigQuery IPython Cell Magic

IPython cell magic menjalankan kueri dan menampilkan hasilnya ke dalam DataFrame

```sql
%%bigquery [<destination_var>] [--project <project>] [--use_legacy_sql]
           [--verbose] [--params <params>]
<query>
```

* `` <destination_var> `` (optional, line argument):
  * variabel untuk menyimpan hasil kueri. Hasilnya tidak ditampilkan jika parameter ini digunakan.

* `` --project <project> `` (optional, line argument):
  * Project yang akan digunakan untuk menjalankan kueri. Secara default sudah di tentukan pada saat setup credential.
  
* `` --use_legacy_sql `` (optional, line argument):
  * Menjalankan kueri menggunakan sintaks Legacy SQL. Default ke SQL Standar jika argumen ini tidak digunakan.
  
* `` --verbose `` (optional, line argument):
  * Perintah ini digunakan untuk  mendapatkan informasi termasuk ID job kueri dan jumlah waktu untuk menyelesaikan kueri tidak akan dihapus setelah kueri selesai. Secara default, informasi ini akan ditampilkan tetapi akan dihapus setelah permintaan selesai.

* `` --params <params> `` (optional, line argument):

* `` <query> `` (required, cell argument):
  * Semua perintah sql akan di jalankan disini
  
Returns:
  * Semua hasil kueri akan ditampilkan ke dalam bentuk pandas.DataFrame .

## Konfigurasi credentials dan project

In [1]:
from google.cloud.bigquery import magics
from google.oauth2 import service_account

credentials = (service_account.Credentials.from_service_account_file('key.json'))
magics.context.credentials = credentials
magics.context.project = 'bigquery-sandbox-235419'

Pustaka klien BigQuery Python menyediakan **magic command** yang memungkinkan anda untuk menjalankan kueri dengan kode minimal. Untuk memuat **magic command** dari pustaka klien, gunakan kode berikut ini.

In [2]:
%load_ext google.cloud.bigquery

Perintah `` %%bigquery `` menjalankan kueri SQL dan mengembalikan hasilnya sebagai Pandas DataFrame.

In [3]:
%%bigquery
SELECT name, SUM(number) as count
FROM `bigquery-public-data.usa_names.usa_1910_current`
GROUP BY name
ORDER BY count DESC
LIMIT 3

     name    count
0   James  5001762
1    John  4875934
2  Robert  4743843

Menyimpan kueri ke dalam variabel **df** dan menentukan project id yang digunakan, serta menggunakan verbose untuk melihat detail hasil kueri.

In [4]:
%%bigquery df --project bigquery-sandbox-235419 --verbose
SELECT name, SUM(number) as count
FROM `bigquery-public-data.usa_names.usa_1910_current`
WHERE gender = 'F'
GROUP BY name
ORDER BY count DESC
LIMIT 10

Executing query with job ID: 16ca0e84-267d-4c0a-8f3c-5818cfc83eef
Query executing: 1.68s
Query complete after 2.35s

In [5]:
df

        name    count
0       Mary  3738739
1   Patricia  1568753
2  Elizabeth  1529014
3   Jennifer  1465268
4      Linda  1447553
5    Barbara  1423939
6   Margaret  1128594
7      Susan  1109099
8    Dorothy  1052892
9    Jessica  1042357

In [6]:
type(df)

pandas.core.frame.DataFrame

**Sources**
* https://googleapis.github.io/google-cloud-python/latest/bigquery/magics.html